html,body,div,ul,li{ margin:0;padding:0;}
	img { border:none;}
	a:hover , a.active{ color:#69f;}
	.move_wrap {
	width:500px;
	margin:50px 0 0 100px;
	}
	.move_con {
	position:relative;
	width:100%;
	height:350px;
	padding:2px;
	overflow: hidden;
	border:1px solid #efefef;
	}
	.move_con li {
	position:absolute;
	width:100%;
	height:100%;
	opacity: 0;
	-webkit-transition:all 0.7s;
	}
	.move_con li.active{
	z-index:1;
	opacity:1;
	}
	.move_con li >a{
	display:block;
	width:100%;
	height:100%;
	}
	.move_con li img{
	width:100%;
	height:100%;
	}
	/*直接跳转按钮*/
	.move_nav{
		position:relative;
		margin-top:20px;
	}
	.move_nav li{
		display:inline-block;
		height:25px;
		line-height: 25px;
		padding:0 6px;
		font-size:12px;
		border:1px solid #dedede;
	}
	.move_nav li a {
		color:#777;
		text-decoration:none;
	}
	.move_nav li.active a{
		color:#69f;
	}
	.updown{
		padding:15px 0;
	}
	.updown a{
		padding:8px 20px;
		border:1px solid #dedede;
		color:#333;
		text-decoration:none;
		font-size:.67em;
	}